@import "./leagueTabs", "./teamsList", "./styleService";
* {
  padding: 0px;
  margin: 0px;
}
body {
  width: 100%;
  background-color: #d3d9d2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  .uefa-logo {
    width: 70px;
    margin-right: 10px;
  }
  @include container;
  text-align: center;
  font-family: $font-family;
}
